[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-composite-field = "*"
django-countries = "*"
django-ckeditor = "*"
django-crispy-forms = "*"
crispy-forms-foundation = "*"
django-allauth = "*"
django-seed = "*"

[dev-packages]

[requires]
python_version = "3.9"
