---
title: About Us
description: about page desc.
---
<section class="section about-block padding-tb50">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="xlarge-8 cell text-center">
                <h2 class="titlestyle1">Adventure reimagined</h2>
                <div class="about-block__content">
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id
                        elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                        Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu
                        in elit .....</p>
                    <ul class="liststyle1 margin-0 padding-0 no-bullet medium-flex-container align-center">
                        <li>
                            <figure>
                                <img src="{{root}}img/icon-player.png">
                            </figure>
                            <h3>Trained<br/>Players</h3>
                        </li>
                        <li>
                            <figure>
                                <img src="{{root}}img/icon-high-altitude.png">
                            </figure>
                            <h3>High Altitude<br/>Training Center</h3>
                        </li>
                        <li>
                            <figure>
                                <img src="{{root}}img/icon-medal.png">
                            </figure>
                            <h3>Gold Medal &amp;<br/>Trophy Winner</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section mission-block padding-tb50">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="xlarge-8 cell text-center">
                <h2 class="titlestyle1">Our Mission</h2>
                <div class="mission-block__top-content">
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit .....</p>
                </div>
            </div>
            <div class="xlarge-10 cell">
                <div class="mission-block__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error labore nam officiis perspiciatis tempore veritatis, voluptatem. Ad beatae consequuntur ducimus earum excepturi illum in ipsa optio placeat sed! At. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi deserunt exercitationem laboriosam obcaecati officiis omnis sint voluptas. Accusantium autem dolorum ducimus eos esse illum nam possimus quae totam. Deserunt.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci asperiores dolorum error exercitationem iste maxime omnis quae, quis quisquam, quod ratione sit, soluta! Cupiditate doloremque id illo nulla quia?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section founder-block padding-tb50">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center bordered-grid">
            <div class="medium-4 cell">
                <img src="{{root}}/img/ceo.png" alt="">
            </div>
            <div class="medium-8 cell">
                <small class="sub-title"><span class="titlestyle2__shape-box">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span> Message from our ceo</small>
                <h2 class="founder-block__title">Mr. Thomas Gray</h2>
                <span class="founder-block__designation">CEO Karnali Sports Club</span>
                <div class="founder-block__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error labore nam officiis perspiciatis tempore veritatis, voluptatem. Ad beatae consequuntur ducimus earum excepturi illum in ipsa optio placeat sed! At. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi deserunt exercitationem laboriosam obcaecati officiis omnis sint voluptas. Accusantium autem dolorum ducimus eos esse illum nam possimus quae totam. Deserunt.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci asperiores dolorum error exercitationem iste maxime omnis quae, quis quisquam, quod ratione sit, soluta! Cupiditate doloremque id illo nulla quia?</p>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x align-center bordered-grid">
            <div class="medium-4 cell medium-order-2 small-order-1">
                <img src="{{root}}/img/hello from the top of world.png" alt="">
            </div>
            <div class="medium-8 cell medium-order-1 small-order-2">
                <small class="sub-title"><span class="titlestyle2__shape-box">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span> Message from rokaya family</small>
                <h2 class="founder-block__title">Hello from the top of the world</h2>
                <div class="founder-block__content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius error labore nam officiis perspiciatis tempore veritatis, voluptatem. Ad beatae consequuntur ducimus earum excepturi illum in ipsa optio placeat sed! At. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi deserunt exercitationem laboriosam obcaecati officiis omnis sint voluptas. Accusantium autem dolorum ducimus eos esse illum nam possimus quae totam. Deserunt.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci asperiores dolorum error exercitationem iste maxime omnis quae, quis quisquam, quod ratione sit, soluta! Cupiditate doloremque id illo nulla quia?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section team-block padding-tb50">
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="cell text-center">
            <h2 class="titlestyle1"><small class="sub-title"><span class="titlestyle2__shape-box">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </span> MEET & GREET</small>Our Team</h2>
            </div>
            <div class="cell">
                <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-4 align-center">
                    <div class="cell team-block__person text-center">
                        <img src="{{root}}/img/daniel crook.png" alt="">
                        <h3 class="team-block__name">Mr. Daniel Crook</h3>
                        <span class="team-block__designation">General Manager</span>
                    </div>
                    <div class="cell team-block__person text-center">
                        <img src="{{root}}/img/pamela anderson.png" alt="">
                        <h3 class="team-block__name">Mrs. Pamela Anderson</h3>
                        <span class="team-block__designation">Coach</span>
                    </div>
                    <div class="cell team-block__person text-center">
                        <img src="{{root}}/img/kendric.png" alt="">
                        <h3 class="team-block__name">Ms. Kendric</h3>
                        <span class="team-block__designation">Fitness Coach</span>
                    </div>
                    <div class="cell team-block__person text-center">
                        <img src="{{root}}/img/david less.png" alt="">
                        <h3 class="team-block__name">Mr. David Less</h3>
                        <span class="team-block__designation">Trainer</span>
                    </div>
                    <div class="cell team-block__person text-center">
                        <img src="{{root}}/img/christina.png" alt="">
                        <h3 class="team-block__name">Mrs. Christina</h3>
                        <span class="team-block__designation">Guide</span>
                    </div>
                    <div class="cell team-block__person text-center">
                        <img src="{{root}}/img/nobody_.png" alt="">
                        <h3 class="team-block__name">Mr. Nobody</h3>
                        <span class="team-block__designation">Guide</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>