{% comment %} {% extends 'base.html' %}
<!-- {% load static %} -->

{% block content %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post</button>
    </form>

{% endblock content %} {% endcomment %}

<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        {% if form %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"> Save </button>
            </form>
        {% endif %}

        <div>
            {{marathon.name}}
        </div>

        {% for question in faq %}
            <div>
                {{question.question}}
                {{question.answer}}
            </div>
        {% endfor %}
    </body>
</html>