<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"/>
    <meta name="theme-color" content="#1585BD" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="icon" type="image/icon" href="{{root}}img/favicon.ico">
    <title>{{ title }} | Himalaya Holiday Service</title>
    <link rel="stylesheet" href="{{root}}css/styles.css">
</head>
<body>
{{> header}}
{{> body}}
{{> footer}}
<script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
<script src="{{root}}js/app.js" type="text/javascript"></script>
</body>
</html>