<footer class="footer">
    <div class="footer-top background-image padding-t100-b50">
        <div class="grid-container">
            <div class="grid-x grid-padding-x align-middle">
                <div class="small-12 large-8 cell">
                    <h3>Make a Donation
                        <small>100% Donations fund Marathon Purpose</small>
                    </h3>
                </div>
                <div class="small-12 large-4 cell button-group">
                    <a href="#" class="button button-inline-flex">
                        <span>Donate With</span>
                        <img src="{{root}}img/icon-paypal.png">
                    </a>
                    <a href="#" class="button button-inline-flex">
                        <span>Donate With Card</span>
                        <img src="{{root}}img/icon-visa-card.png">
                    </a>
                    <p>Donate if you dont have a Paypal from Nepali Bank</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main padding-tb50">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="small-12 large-3 cell">
                    <figure class="logo-holder">
                        <img src="{{root}}img/karnali-sports-club-logo-image.png" alt="">
                    </figure>
                    <ul class="contact-box liststyle2 margin-0 padding-0 no-bullet">
                        <li><a href="tel:+977 984-8319125" title="+977 984-8319125">+977 984-8319125</a></li>
                        <li><a href="mailto:clubkarnalisports@gmail.com" title="clubkarnalisports@gmail.com">clubkarnalisports@gmail.com</a></li>
                        <li><span class="location-text">Bharati Vada, Chandanath Muncipality, <br/>ward 05, Jumla, Nepal</span></li>
                    </ul>
                </div>
                <div class="small-12 large-2 cell">
                    <h4>Quick Links</h4>
                    <ul class="quick-links liststyle3 margin-0 padding-0 no-bullet">
                        <li><a href="#" title="">Home</a></li>
                        <li><a href="#" title="">About Us</a></li>
                        <li><a href="#" title="">Trail Race</a></li>
                        <li><a href="#" title="">Blog</a></li>
                        <li><a href="#" title="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="small-12 large-3 cell">
                    <h4>We Are</h4>
                    <p>Trained players from Jumla and Karnali, Provide and create platform for players, Promote and
                        develop Jumla as; High Altitude Training Center in Nepal.</p>
                </div>
                <div class="small-12 large-4 cell">
                    <div class="newsleter-box">
                        <div class="newsleter-box__info flex-container align-middle">
                            <span class="icon-envelope-outlined"></span>
                            <span>Get the latest news, offers and inspiring travel stories straight to your inbox.</span>
                        </div>
                        <div class="newsleter-box__form">
                            <form action="#" method="post">
                                <input type="email" placeholder="Your Email Address" value=""/>
                                <input type="submit" value="Subscribe" class="button"/>
                            </form>
                        </div>
                    </div>
                    <ul class="social-media margin-0 padding-0 no-bullet">
                        <li><a href="#" class="icon-twitter"></a></li>
                        <li><a href="#" class="icon-instagram"></a></li>
                        <li><a href="#" class="icon-google"></a></li>
                        <li><a href="#" class="icon-facebook"></a></li>
                        <li><a href="#" class="icon-pinterest-p"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="grid-container">
            <div class="grid-x grid-padding-x align-middle">
                <div class="small-12 large-5 cell">
                    <p>Copyright &copy; 2019, <a href="/" title="Karnali Sports Club">Karnali Sports Club</a>, All
                        rights
                        reserved. </p>
                </div>
                <div class="small-12 large-4 cell flex-container align-middle">
                    <strong>Affiliated with:</strong>
                    <figure class="logo-group">
                        <img src="{{root}}img/logo-nepal-gov.png" alt="">
                        <img src="{{root}}img/logo-nma.png" alt="">
                        <img src="{{root}}img/logo-stn.jpg" alt="">
                        <img src="{{root}}img/logo-keep.jpg" alt="">
                    </figure>
                </div>
                <div class="small-12 large-3 cell text-lg-right">
                    <p>Designed by&nbsp;<a href="//www.domainname.com/">www.<span>domainname</span>.com</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>