{% extends 'base.html' %}
<!-- {% load static %} -->

{% block content %}
    {% for slide in slider %}
        <div class="slider">
            {{ slide.title}} <br>
            {{ slide.description }} <br>          
            <img src="{{ slide.image.url }} " height=100 alt="">
            <a href="{{ slide.link }}">{{ slide.link_title }}</a>
        </div>
    {% endfor %}

    {% for run in marathon %}
        <div class="marathon">
            {{ run.name}} <br>
            {{ run.date }} <br>      
            {{ run.tag }} <br>    
            <p> {{ run.description }}
            </p>
            <a href="{% url 'book' run.pk %}">link {{run.name}}</a>
        </div>
    {% endfor %}

    {% for person in testemonial %}
        <div class="testemonial">
            {{ person.person}} <br>
            {{ person.position }} <br>          
            <img src="{{ person.image.url }}" height=100 alt="">
            <p> {{ person.testemonial_text }}
            </p>
        </div>
    {% endfor %}

    {% for pic in gallery %}
            <img src="{{ pic.image.url }}" height=100 alt="">
    {% endfor %}

{% endblock content %}