<!--
title: Landing Page
description: about page desc.
-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="billboard padding-lr50">
    <div class="js-billboard">
        <div class="billboard__item">
            <figure><img src="{% static 'uploads/mountain-marathon-image.jpg' %}" alt="Mountain Marathon"></figure>
            <div class="grid-container">
                <div class="grid-x grid-padding-x position-relative">
                    <div class="cell">
                        <div class="billboard__detail billboard__detail--landing">
                            <h2>{{marathon.name}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="billboard-thumbnail">
        <div class="social-media-holder">
            <div class="grid-container">
                <div class="grid-x align-right">
                    <ul class="social-media margin-0 padding-0 no-bullet">
                        <li><a href="#" class="icon-facebook"></a></li>
                        <li><a href="#" class="icon-twitter"></a></li>
                        <li><a href="#" class="icon-linkedin"></a></li>
                        <li><a href="#" class="icon-pinterest"></a></li>
                        <li><a href="#" class="icon-rss"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="facts-block grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell">
            <ul class="facts-block__list">
                <li class="facts-block__item facts-block__about">Quick facts about marathon</li>
                <li class="facts-block__item"><span class="facts-block__label">location</span>{{marathon.location}}</li>
                <li class="facts-block__item"><span class="facts-block__label">Date</span>{{marathon.date}}</li>
                <li class="facts-block__item"><span class="facts-block__label">Distance</span> {{marathon.distance_start}} - {{marathon.distance_end}}</li>
                <li class="facts-block__item"><span class="facts-block__label">Marathon Type</span>{{marathon.marathon_type}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12 cell text-center">
            <h2 class="titlestyle1 titlestyle1--small-inline">Count Me In <small>{{marathon.date}}</small></h2>
            <div class="section-timer__content" id="deadline" data-enddate="{{marathon.date}} {{marathon.time | date:"H:i:s" }}">
                <span class="section-timer__days">20<small>Days</small></span>
                <span class="section-timer__hours">18<small>Hrs</small></span>
                <span class="section-timer__minutes">15<small>Min</small></span>
                <span class="section-timer__seconds">54<small>Sec</small></span>
            </div>
            <div class="section-timer__para">
                <p>{{marathon.meta_description | safe}}</p>
            </div>
        </div>
        <div class="small-12 cell" id="facts-tabs">
            <div class="sticky-container" data-sticky-container>
                <div data-sticky data-anchor="facts-tabs" data-margin-top="0" data-offset="100">
                    <div class="tabs main-tabs grid-x grid-padding-x" data-sticky data-magellan >
                        <a  class="cell small-4 large-2 tabs-title" href="#overview-panel">Overview</a>
                        <a class="cell small-4 large-2 tabs-title" href="#maps-panel">Map</a>
                        <a class="cell small-4 large-2 tabs-title" href="#faq-panel">FAQ</a>
                        <a class="cell small-4 large-2 tabs-title" href="#itinerary-panel">Itinerary</a>
                        <a class="cell small-4 large-2 tabs-title" href="#book-panel">Book Me</a>
                        <a class="cell small-4 large-2 tabs-title" href="#prize-panel">Prize</a>
                    </div>
                </div>
            </div>

            <div class="tabs-content main-tabs-content bordered-tab-content">
                <div class="margin-tb50" data-magellan-target="overview-panel" id="overview-panel">
                    {{marathon.description | safe}}
                </div>
                <div class="margin-tb50" data-magellan-target="maps-panel" id="maps-panel">
                    <img src="{{ marathon.map_image.url }}" alt="">
                </div>
                <div class="margin-tb50" data-magellan-target="faq-panel" id="faq-panel">
                    <h2 class="panel__title">Questions? Look here</h2>
                    <div class="accordion-grid">
                        <ul class="accordion" data-accordion>
                            {% for question in faq %}
                                <li class="accordion-item" data-accordion-item>
                                    <a href="#" class="accordion-title">{{ question.question }}</a>
                                    <div class="accordion-content" data-tab-content>
                                        <p>{{ question.answer }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="margin-tb50" data-magellan-target="itinerary-panel" id="itinerary-panel">
                    <ul>
                        {% for day in path %}
                            <li>
                                <h3>{{ day.date }}</h3>
                                <p>{{ day.description }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="margin-tb50" data-magellan-target="book-panel" id="book-panel">
                    <h2 class="panel__title"><small>You are booking</small>Mountain Marathon</h2>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="button"> Submit </button>
                            </form>
                </div>
                <div class="margin-tb50" data-magellan-target="prize-panel" id="prize-panel">
                    <h2 class="panel__title">Prize</h2>
                    <h3>Affiliated with</h3>
                    {% for sponsor in marathon.affiliation.all %}
                        {{ sponsor.name }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}